<%= form_for @restaurant do |f| %>
<%= f.label "Restaurant" %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>


<ul>
<% @restaurants.each do |restaurant| %>
<li><%= link_to  restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
</ul>
