<h1><%= @restaurant.name %></h1>
  <%= form_for [@restaurant, @comment] do |f| %>
  <%= f.label "Add Comment:" %>
  <%= f.text_field :content %>
  <%= f.submit "Submit" %>
<% end %>

<ul>
<% @restaurant.comments.each do |comment| %>
  <% if comment.content %>
  <li>
    <%= comment.content %>
    <%= link_to 'Yes', vote_up_restaurant_comment_path(@restaurant,comment)  %>
    <%= comment.votes_for %>

  </li>
  <% end %>
<% end %>
</ul>
