<h1><%= @restaurant.name %></h1>
  <%= form_for [@restaurant, @comment] do |f| %>
  <%= f.label "Add Comment:" %>
  <%= f.text_field :content %>
  <%= f.submit "Submit" %>
<% end %>

<ul>
<% @restaurant.comments.each do |comment| %>
<li><%= comment.content %></li>
<% end %>
</ul>
